.tasks-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.submitted-data {
  margin-top: 20px;
}

.submitted-data p {
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 5rem;
}
